@constants:registry=https://themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm/
//themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm/:_password=QVA4cEFTaDhEOUpaSGdUc3BZSEI0aVVpNnAz
//themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm/:username=info@themagnit.net
//themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm/:email=info@themagnit.net
//themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm/:always-auth=true